<div class="card">
  <%# プロトタイプの画像 %>
  <%= link_to image_tag(prototype.image, class: :card__img ), prototype_path(prototype), method: :get %>
  <div class="card__body">
    <%# プロトタイプのタイトル %>
    <%= link_to prototype.title, prototype_path(prototype), class: :card__title, method: :get %>
    <p class="card__summary">
      <%# プロトタイプのキャッチコピー %>
      <%= prototype.catch_copy %>
    </p>
    <%# プロトタイプの投稿者名 %>
    <%= link_to "by #{prototype.user.name}", user_path(prototype.user), class: :card__user %>
  </div>
</div>